*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    padding: 10px 0;
    border: 20px solid black;
    /* height: 100vh;
    padding: 50px; */
    height: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

img{
    border: 5px solid red;
    /* margin: 25px;
    padding-top: 20px;
    padding-bottom: 20px; */
}

/* #primera {
    margin: 5px;
} */

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}